@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: custom styles */
body {
  @apply bg-slate-900 text-slate-100;
}

@keyframes section-fade-in-up {
  from {
    opacity: 0;
    transform: translateY(48px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-section-fade-in-up {
  animation: section-fade-in-up 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
